# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Your Domain URL
# Example: https://www.rizalalfarizi.com
DOMAIN_URL=

# Your APP URL (it's optional if the DOMAIN_URL is filled)
APP_URL=http://www.rizalalfarizi.com

# Resend API KEY (for sending email)
RESEND_API_KEY=
# For Umami (Only use in cloud)
UMAMI_DATA_WEBSITE_ID=
