@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 244.7 82.6%, 9%;
    --background: 240 90% 96%;
    --primary: #130b89;
    --secondary: #f25a99;
    /* --accent: #e22712; */
    --accent: #d88e18;
  }
  .dark {
    --text: 244.7, 82.6%, 91%;
    --background: 240 90% 3.9%;
    --primary: #7f76f4;
    --secondary: #a50d4d;
    /* --accent: #ed311d; */
    --accent: #e79d26;
  }
}
