@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 245 83% 9%;
    --background: 240 90% 96%;
    --primary: 244 85% 29%;
    --secondary: 335 85% 65%;
    --accent: 37 80% 47%;
  }
  .dark {
    --text: 245 83% 91%;
    --background: 240 90% 4%;
    --primary: 244 85% 71%;
    --secondary: 335 85% 35%;
    --accent: 37 80% 53%;
  }
}
